@model MVC_batch9.Models.empdept
 
@{
    ViewBag.Title = "SendDataByUsingModel";
}

<h2>SendDataByUsingModel</h2>

@Model.emp.EmpId
@Model.emp.EmpName
@Model.emp.EmpSalary<br />


@Model.dept.DeptId
@Model.dept.Deptname<br />



 